/************************/
/*       WRAPPER        */
/************************/
.form-table {}

/************************/
/*       VALIDATION     */
/************************/
.form-errors {
	font-weight: bold;
	color:#bd000b;
}
/* asterisk */
.form-field-required {
	color:#bd000b;
}
/* applies to specific fiels with errors */
.form-field-error {
	border:2px solid #bd000b;
}

/************************/
/*        LABELS        */
/************************/
.form-field-textbox-name {
}
.form-field-name {
}

/************************/
/*        FIELDS        */
/************************/
.form-field-text,
.form-field-textarea {
    outline:none;
    border:2px solid #ccc;
    padding:4px;
    margin:2px 0;
    font-size:14px;
}
.form-field-text:focus,
.form-field-textarea:focus {

}
.form-field-select {}
.form-field-submit {}
.form-field-radio {}
/* around each checkbox, not entire set */
.form-field-checkbox-wrap {}
.form-field-checkbox {}

.form-field-submit {
    display: inline-block;
    outline: none;
    border:none;
    border-radius:30px;
    background:#000;
    color:#fff;
    font-size:14px;
    line-height:1em;
    font-family:sans-serif;
    padding:10px 15px;
    margin:2px 0;
    border:0;
}
.form-field-submit:hover {
    cursor: pointer;
}

.sending {
    @extend .form-field-submit;
    background:#329b5b;
}
