body, html {
    
//	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    
    font-family: 'Raleway', sans-serif;
//    font-family: 'Amatic';
    
    font-weight: 100;
	min-height:100%;
	width:100%;
	position: relative;
}
